<header>
  <nav class="navbar">
    <a>Super-Eats</a>
    <a>Orders</a>
    <a>Restaurant Login</a>
    <a class="nav-item nav-link" href="/customers/signin/1">User Logins</a>
    <a class="nav-item nav-link" href="/logout">Log Out</a>
  </nav>
  <div class="restaurant-main-banner">
    <img class="restaurant-main-image" src="../../images/main.png"/>
  </div>
</header>


