<header>
  <nav class="navbar">
    <div class="navbar-left">
      <img src="../../images/logoSuperEats.png">
      <form class="button-left" method="GET" action="/">
        <button class="nav-button">Main Page</button>
      </form>
      <form class="button-left"  method="GET" action="/restaurants/1/orders/">
        <button class="nav-button">Restaurant Login</button>
      </form>
    </div>
    <div class="navbar-right">
      <form class="button-right"  method="GET" action="/orders/1">
        <button class="nav-button">Customer Orders</button>
      </form>
    </div>
  </nav>
  <!-- <div class="restaurant-main-banner">
    <img class="restaurant-main-image" src="../../images/main.png"/>
  </div> -->
</header>


