<header>
  <nav class="navbar">
    <a>Super-Eats</a>
    <a>Orders</a>
    <a>Restaurant Login</a>
    <a>User Logins</a>
  </nav>
  <div class="restaurant-main-banner">
    <img class="restaurant-main-image" src="../images/main.png"/>
  </div>
</header>


