<header>
  <nav class="navbar">
    <div class="navbar-left">
      <img src="../../images/logoSuperEats.png">
      <form class="button-left">
        <button class="nav-button">Super-Eats</button>
      </form>
      <form class="button-left">
        <button class="nav-button">Orders</button>
      </form>
    </div>
    <div class="navbar-right">
      <form class="button-right">
        <button class="nav-button">Restaurant Login</button>
      </form>
      <form class="button-right">
        <button class="nav-button">User Login</button>
      </form>
    </div>
  </nav>
  <!-- <div class="restaurant-main-banner">
    <img class="restaurant-main-image" src="../../images/main.png"/>
  </div> -->
</header>


