<!DOCTYPE html>
<html lang="en">
<head>
  <title>Order - List</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/menu.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/client-order.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Cedarville+Cursive&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Cedarville+Cursive&family=Rubik&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/client_order.js"></script>

</head>
<body>
  <%- include('partials/_header') %>
  <article class="order-container">
    <div class="thank-you-banner">
      <span class="thank-you-msg"><a>Thank You Valued Customer</a></span>
    </div>
    <span class="order-details-msg">Order Details</span>
    <div class="order-details">
      <table>
        <tbody>
          <tr>
            <th>Order ID</th>
            <td>1</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>Frual Glawarren</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>501 Maple Leaf Road Drive Cr.</td>
          </tr>
          <tr>
            <th>SMS Sent</th>
            <td>YES</td>
          </tr>
          <tr>
            <th>Time Ordered</th>
            <td>12:00</td>
          </tr>
          <tr>
            <th>Time Until Pickup</th>
            <td>30 min</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
        </thead>
        <tbody>
          <tr>
            <td>Aracini</td>
            <td>1</td>
            <td>$13.00</td>
          </tr>
          <tr>
            <td>Pasta</td>
            <td>1</td>
            <td>$25.00</td>
          </tr>
          <tr>
            <td>Panettonne</td>
            <td>1</td>
            <td>$12.00</td>
          </tr>
        </tbody>
      </table>
    </div>
    <form method="GET" action="/"><button class="main-menu-button">Return to Main Menu</button></form>
  </article>
</body>
</html>
