<!DOCTYPE html>
<html lang="en">

<head>
  <title>Restaurant - Orders</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/menu.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Cedarville+Cursive&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Cedarville+Cursive&family=Rubik&display=swap"
    rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <div class="menu-containers">
      <header class="menu-header">
        Luigi's Restaurant
      </header>
      <article class="menu-sections">
        <form id='counter' method='POST' action='/orders'>
          <span class="menu-title">Appetizers</span>
          <section class="menu-option">
            <img class="menu-image" src="../images/aracini.jpg">
            <div class="menu-items">Aracini</div>
            <input type='text' name='item1' value='0' class='qty' />
          </section>
          <section class="menu-option">
            <img class="menu-image" src="../images/bruschetta.jpg">
            <div class="menu-items">Bruschetta</div>
            <input type='text' name='quantity' value='0' class='qty' />
          </section>
          <section class="menu-option">
            <img class="menu-image" src="../images/caprese.jpg">
            <div class="menu-items">Caprese</div>
            <input type='text' name='quantity' value='0' class='qty' />
          </section>
          <span class="menu-title">Main Course</span>
          <section class="menu-option">
            <img class="menu-image" src="../images/pasta.jpg">
            <div class="menu-items">Pasta</div>
            <input type='text' name='item2' value='0' class='qty' />
          </section>
          <section class="menu-option">
            <img class="menu-image" src="https://www.foodiesfeed.com/wp-content/uploads/2015/03/basic-italian-pizza-margherita.jpg">
            <div class="menu-items">Pizza</div>
            <input type='text' name='quantity' value='0' class='qty' />
          </section>
          <section class="menu-option">
            <img class="menu-image" src="https://www.foodiesfeed.com/wp-content/uploads/2020/06/cannelloni-de-beringela.jpg">
            <div class="menu-items">Eggplant Parm</div>
            <input type='text' name='quantity' value='0' class='qty' />
          </section>
          <span class="menu-title">Dessert</span>
          <section class="menu-option">
            <img class="menu-image" src="https://www.foodiesfeed.com/wp-content/uploads/2015/09/perfect-wholegrain-bread.jpg">
            <div class="menu-items">Panettonne</div>
            <input type='text' name='item3' value='0' class='qty' />
          </section>
          <section class="menu-option">
            <img class="menu-image" src="https://www.foodiesfeed.com/wp-content/uploads/2016/03/fancy-ice-cream-dessert.jpg">
            <div class="menu-items">Tiramisu</div>
            <input type='text' name='quantity' value='0' class='qty' />
          </section>
          <section class="menu-option">
            <img class="menu-image" src='https://www.foodiesfeed.com/wp-content/uploads/2022/11/fancy-dessert-with-biscuit-on-top.jpg'>
            <div class="menu-items">Limoncello</div>
            <input type='text' name='quantity' value='0' class='qty' />
          </section>
          <button type="submit" class="btn btn-success btn-lg">Submit Order</button>
          <div class="order-button">
          <!-- <form id="checkout" method="GET" action='/orders/1'>
            <button class="menu-items" type="submit">Place Order</button>
          </form> -->

          </div>

        </form>
      </article>
    </div>
</body>
</html>
