<!DOCTYPE html>
<html lang="en">
<head>
  <title>Restaurant - All Order</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/restaurant-all-orders.css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Cedarville+Cursive&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Cedarville+Cursive&family=Rubik&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <article class="res-order-section">
    <div class="order-banner">
      <span class="order-banner-msg"><a class="msg-font">Luigi's Orders</a></span>
    </div>
    <table class="order-table">
      <thead>
        <th>Order ID</th>
        <th>SMS Sent</th>
        <th>Customer Name</th>
        <th>Phone Number</th>
        <th>Time Order Received</th>
        <th>Time Until Ready</th>
        <th>Order Details</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Yes</td>
          <td>Frual Glawarren</td>
          <td>416-141-2414</td>
          <td>10:00</td>
          <td>30min</td>
          <td>
            <form method="GET" action="/restaurants/1/orders/1"><button class="btn btn-success">Order</button></form>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>No</td>
          <td>Person 2</td>
          <td>647-241-1953</td>
          <td>15:20</td>
          <td>12min</td>
          <td><form method="GET" action="/restaurants/1/orders/2" ><button class="btn btn-success">Order</button></form></td>
        </tr>
        <tr>
          <td>3</td>
          <td>No</td>
          <td>Person 3</td>
          <td>930-213-8510</td>
          <td>4:30</td>
          <td>50min</td>
          <td>
            <form method="GET" action="/restaurants/1/orders/3"><button class="btn btn-success">Order</button></form>
          </td>
        </tr>
      </tbody>
    </table>
    <form method="GET" action="/" class="return-button"><button class="main-menu-button">Return to Main Menu</button></form>
  </article>

</body>
</html>
