$main-color: #d1e2e3;
$secondary-color: #0d7377;
$color-3: #129fa5;

.menu-containers {
  display: flex;
  margin: 5%;
  padding: 2%;
  width: 90%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 10px $secondary-color;
  border-style: solid;
  border-radius: 25px;
  background-image: url("/images/beige-tiles.png");
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  margin: 5%;
  width: 90%;
  border: 10px $secondary-color;
  border-style: solid;
  border-radius: 25px;
  background-color: beige;
  background-image: url("/images/restaurant-order-banner.jpg");
  background-size: cover;
  color: white;
  font-family: 'Bungee', cursive;
  font-family: 'Cedarville Cursive', cursive;
}

.menu-title {
  font-size: 7vh;
  margin: 2%;
  color: black;
  opacity: 100%;
  font-family: 'Bungee', cursive;
  font-family: 'Cedarville Cursive', cursive;

}
.menu-sections {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.menu-option {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #129fa5;
  padding: 1%;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items a {
  font-size: 5vh;
  color: white;
}
.menu-image {
  height: 100px;
  width: 100px;
}

#counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.qty {
  width: 40px;
  height: 25px;
  text-align: center;
}

.order-button {
  margin: 2%;
}
